# MySQL 800 Questions - 1
## PART 1

This is based on "800+ SQL INTERVIEW QUESTIONS" by DISHA MUKHERJEE, but changed and updated for:
1. Only MySQL
2. MySQL version 8.4
3. Answers are rewritten because many answers in PDF doesn't run on this version of MySQL.

### EmployeeDetail TABLE
|EmloyeeID|FirstName|LastName|Salary|JoiningDate|Department|Gender|
|---|---|---|---|---|---|---|
|1|Vikas|Ahlavat|600000.00|2013-01-15 11:16:28|IT|Male|
|2|nikita|Jain|530000.00|2014-01-09 17:31:07|HR|Female|
|3|Ashish|Kumar|1000000.00|2014-01-09 10:05:07|IT|Male|
|4|Nikhil|Sharma|480000.00|2014-01-09 09:00:07|HR|Male|
|5|anish|kadian|500000.00|2014-01-09 09:31:07|Payroll|Male|

### QUESTIONS

1. Write a query to get all employee detail from "EmployeeDetail" table

In [ ]:
SELECT * FROM EmployeeDetail;

2. Write a query to get only "FirstName" column from "EmployeeDetail" table

In [ ]:
SELECT FirstName FROM EmployeeDetail;

3. Write a query to get FirstName in upper case as "First Name".

In [ ]:
SELECT UPPER(FirstName) As 'First Name' FROM EmployeeDetail;

4. Write a query to get FirstName in lower case as "First Name".

In [ ]:
SELECT LOWER(FirstName) As 'First Name' FROM EmployeeDetail;

5. Write a query for combine FirstName and LastName and display it as "Name" (also include white space between first name & last name)

In [ ]:
SELECT CONCAT(FirstName, ' ', LastName) As 'Name' FROM EmployeeDetail;

6. Select employee detail whose name is "Vikas"

In [ ]:
SELECT * 
FROM EmployeeDetail
WHERE FirstName = 'Vikas';

7. Get all employee detail from EmployeeDetail table whose "FirstName" start with latter 'a'.

In [ ]:
SELECT * 
FROM EmployeeDetail
WHERE REGEXP_LIKE(FirstName, '^a');

8. Get all employee details from EmployeeDetail table whose "FirstName" contains 'k'

In [ ]:
SELECT * 
FROM EmployeeDetail
WHERE REGEXP_LIKE(FirstName, 'k');

9. Get all employee details from EmployeeDetail table whose "FirstName" end with 'h'

In [ ]:
SELECT * 
FROM EmployeeDetail
WHERE REGEXP_LIKE(FirstName, 'h$');

10. Get all employee detail from EmployeeDetail table whose "FirstName" start with any single character between 'a-p'

In [ ]:
SELECT * 
FROM EmployeeDetail
WHERE REGEXP_LIKE(FirstName, '^[a-p]');

11. Get all employee detail from EmployeeDetail table whose "FirstName" not start with any single character between 'a-p'

In [ ]:
SELECT * 
FROM EmployeeDetail
WHERE NOT REGEXP_LIKE(FirstName, '^[a-p]');

12. Get all employee detail from EmployeeDetail table whose "Gender" end with 'le' and contain 4 letters.

In [ ]:
SELECT * 
FROM EmployeeDetail
WHERE REGEXP_LIKE(Gender, '^..le$');

13. Get all employee detail from EmployeeDetail table whose "FirstName" start with 'A' and contain 5 letters.

In [ ]:
SELECT * 
FROM EmployeeDetail
WHERE REGEXP_LIKE(FirstName, '^A....$');

14. Get all employee detail from EmployeeDetail table whose "FirstName" 
containing '.'. ex:-"Vik.as".

In [ ]:
SELECT *
FROM EmployeeDetail
WHERE REGEXP_LIKE(FirstName, '\\.');

15. Get all unique "Department" from EmployeeDetail table.

In [ ]:
SELECT DISTINCT(Department) 
FROM EmployeeDetail;

16. Get the highest "Salary" from EmployeeDetail table.

In [ ]:
SELECT MAX(Salary) 
FROM EmployeeDetail;

17. Get the lowest "Salary" from EmployeeDetail table.

In [ ]:
SELECT MIN(Salary) 
FROM EmployeeDetail;

18. Show "JoiningDate" in "dd mmm yyyy" format, ex- "15 Feb 2013"

In [ ]:
SELECT DATE_FORMAT(JoiningDate, '%d %b %Y') AS JoiningDateInFormat
FROM EmployeeDetail;

19. Show "JoiningDate" in "yyyy/mm/dd" format, ex- "2013/02/15"

In [ ]:
SELECT DATE_FORMAT(JoiningDate, '%Y/%m/%d') AS JoiningDateInFormat
FROM EmployeeDetail;

20. Show only time part of the "JoiningDate".

In [ ]:
SELECT DATE_FORMAT(JoiningDate, '%H:%i:%S') AS JoiningTimeInFormat
FROM EmployeeDetail;

21. Get only Year part of "JoiningDate".

In [ ]:
SELECT YEAR(JoiningDate) AS YearJoined
FROM employeeDetail;

22. Get only Month part of "JoiningDate".

In [ ]:
SELECT MONTH(JoiningDate) AS MonthJoined
FROM employeeDetail;

23. Get system date.

In [ ]:
SELECT CURDATE() AS Today;

24. Get UTC date.

In [ ]:
SELECT UTC_DATE() AS UTCDate;

25. Get the first name, current date, joiningdate and diff between current date and joining date in months.

In [ ]:
SELECT
    FirstName, 
    CURDATE(), 
    JoiningDate, 
    12 * (YEAR(CURDATE()) - YEAR(JoiningDate)) + (MONTH(CURDATE()) - MONTH(JoiningDate)) AS months
FROM
    EmployeeDetail;

Or another method:

In [ ]:
SELECT FirstName, 
        CURDATE(), 
        JoiningDate, 
        TIMESTAMPDIFF(MONTH, JoiningDate, CURDATE())
FROM employeedetail;

26. Get the first name, current date, joiningdate and diff between current date and joining date in days.

In [ ]:
SELECT FirstName, 
        CURDATE(), 
        JoiningDate, 
        TIMESTAMPDIFF(DAY, JoiningDate, CURDATE())
FROM employeedetail;

27. Get all employee details from EmployeeDetail table whose joining year is 2013.

In [ ]:
SELECT *
FROM employeedetail
WHERE YEAR(JoiningDate) = 2013;

28. Get all employee details from EmployeeDetail table whose joining month is Jan(1).

In [ ]:
SELECT *
FROM employeedetail
WHERE MONTH(JoiningDate) = 1;

29. Get all employee details from EmployeeDetail table whose joining date between "2013-01-01" and "2013-12-01".

In [ ]:
SELECT *
FROM employeedetail
WHERE JoiningDate BETWEEN '2013-01-01' AND '2013-12-01';

30. Get how many employee exist in "EmployeeDetail" table.

In [ ]:
SELECT COUNT(*)
FROM employeedetail;