# MySQL 800 Questions
## PART 2

### EmployeeDetail TABLE
|EmloyeeID|FirstName|LastName|Salary|JoiningDate|Department|Gender|
|---|---|---|---|---|---|---|
|1|Vikas|Ahlavat|600000.00|2013-01-15 11:16:28|IT|Male|
|2|nikita|Jain|530000.00|2014-01-09 17:31:07|HR|Female|
|3|Ashish|Kumar|1000000.00|2014-01-09 10:05:07|IT|Male|
|4|Nikhil|Sharma|480000.00|2014-01-09 09:00:07|HR|Male|
|5|anish|kadian|500000.00|2014-01-09 09:31:07|Payroll|Male|

### QUESTIONS

31. Select only one/top 1 record from "EmployeeDetail" table.

In [ ]:
SELECT *
FROM employeedetail
LIMIT 1;

32. Select all employee detail with First name "Vikas","Ashish", and "Nikhil".

In [ ]:
SELECT *
FROM employeedetail
WHERE FirstName IN ('Vikas', 'Ashish', 'Nikhil');

33. Select all employee detail with First name not in "Vikas","Ashish", and "Nikhil".

In [ ]:
SELECT *
FROM employeedetail
WHERE FirstName NOT IN ('Vikas', 'Ashish', 'Nikhil');

34. Select first name from "EmployeeDetail" table after removing white spaces from right side

In [ ]:
SELECT RTRIM(FirstName) AS FirstName
FROM EmployeeDetail;

35. Select first name from "EmployeeDetail" table after removing white spaces from left side

In [ ]:
SELECT LTRIM(FirstName) AS FirstName
FROM EmployeeDetail;

36. Display first name and Gender as M/F.(if male then M, if Female then F)

In [ ]:
SELECT FirstName,
  CASE WHEN Gender = 'Male' THEN 'M'
       WHEN Gender = 'Female' THEN 'F'
  END AS Gender
FROM EmployeeDetail;

37. Select first name from "EmployeeDetail" table prifixed with "Hello "

In [ ]:
SELECT CONCAT('Hello ', FirstName)
FROM EmployeeDetail;

38. Get employee details from "EmployeeDetail" table whose Salary greater than 600000

In [ ]:
SELECT * 
FROM EmployeeDetail
WHERE Salary > 600000;

39. Get employee details from "EmployeeDetail" table whose Salary less than 700000

In [ ]:
SELECT * 
FROM EmployeeDetail
WHERE Salary < 700000;

40. Get employee details from "EmployeeDetail" table whose Salary between 500000 and 600000

In [ ]:
SELECT * 
FROM EmployeeDetail
WHERE Salary BETWEEN 500000 AND 600000;

41. Select second highest salary from "EmployeeDetail" table.

In [ ]:
SELECT DISTINCT Salary
FROM EmployeeDetail
ORDER BY Salary DESC
LIMIT 1 OFFSET 1;

42. Write the query to get the department and department wise total(sum) salary from "EmployeeDetail" table.

In [ ]:
SELECT Department, SUM(Salary)
FROM EmployeeDetail
GROUP BY Department;

43. Write the query to get the department and department wise total(sum) salary, display it in ascending order according to salary.

In [ ]:
SELECT Department, SUM(Salary)
FROM EmployeeDetail
GROUP BY Department
ORDER BY SUM(Salary) ASC;

44. Write the query to get the department and department wise total(sum) salary, display it in descending order according to salary.

In [ ]:
SELECT Department, SUM(Salary)
FROM EmployeeDetail
GROUP BY Department
ORDER BY SUM(Salary) DESC;

45. Write the query to get the department, total no. of departments, total(sum) salary with respect to department from "EmployeeDetail" table.

In [ ]:
SELECT Department, COUNT(Department), SUM(Salary)
FROM EmployeeDetail
GROUP BY Department;

46. Get department wise average salary from "EmployeeDetail" table order by salary ascending

In [ ]:
SELECT Department, AVG(Salary)
FROM EmployeeDetail
GROUP BY Department
ORDER BY AVG(Salary) ASC;

47. Get department wise maximum salary from "EmployeeDetail" table order by salary ascending

In [ ]:
SELECT Department, MAX(Salary)
FROM EmployeeDetail
GROUP BY Department
ORDER BY MAX(Salary) ASC;

48. Get department wise minimum salary from "EmployeeDetail" table order by
salary ascending

In [ ]:
SELECT Department, MIN(Salary)
FROM EmployeeDetail
GROUP BY Department
ORDER BY MIN(Salary) ASC;

49. Get department wise average salary from "EmployeeDetail" table order by salary descending

In [ ]:
SELECT Department, AVG(Salary)
FROM EmployeeDetail
GROUP BY Department
ORDER BY AVG(Salary) DESC;

### ProjectDetail TABLE
|ProjectDetailID|EmployeeDetailID|ProjectName|
|---|---|---|
|1|1|Task Track|
|2|1|CLP|
|3|1|Survey Management|
|4|2|HR Management|
|5|3|Task Track|
|6|3|GRS|
|7|3|DDS|
|8|4|HR Management|
|9|6|GL Management|

50. Write down the query to fetch Project name assign to more than one Employee

In [ ]:
SELECT ProjectName, COUNT(*)
FROM ProjectDetail
GROUP BY ProjectName
HAVING COUNT(EmployeeDetailID) > 1;

51. Get employee name, project name order by firstname from "EmployeeDetail" and "ProjectDetail" for those employee which have assigned project already.

In [ ]:
SELECT e.FirstName, p.ProjectName
FROM EmployeeDetail AS e 
INNER JOIN ProjectDetail AS p ON e.EmployeeID = p.EmployeeDetailID
ORDER BY e.FirstName
;

52. Get employee name, project name order by firstname from "EmployeeDetail" and "ProjectDetail" for all employee even they have not assigned project.

In [ ]:
SELECT e.FirstName, p.ProjectName
FROM EmployeeDetail AS e 
LEFT JOIN ProjectDetail AS p ON e.EmployeeID = p.EmployeeDetailID
ORDER BY e.FirstName
;

53. Get employee name, project name order by firstname from 
"EmployeeDetail" and "ProjectDetail" for all employee if project is not assigned then display "-No Project Assigned".

In [ ]:
SELECT e.FirstName, IFNULL(p.ProjectName, '-No Project Assigned')
FROM EmployeeDetail AS e 
LEFT JOIN ProjectDetail AS p ON e.EmployeeID = p.EmployeeDetailID
ORDER BY e.FirstName
;

54. Get all project name even they have not matching any employeeid, in left table, order by firstname from "EmployeeDetail" and "ProjectDetail".

In [ ]:
SELECT e.FirstName, p.ProjectName
FROM EmployeeDetail AS e 
RIGHT JOIN ProjectDetail AS p ON e.EmployeeID = p.EmployeeDetailID
ORDER BY e.FirstName
;

55. Get complete record (employeename, project name) from both tables 
([EmployeeDetail],[ProjectDetail]), if no match found in any table then show NULL.

56. Write a query to find out the employeename who has not assigned any project, and display "-No Project Assigned"( tables :- [EmployeeDetail],[ProjectDetail]).

58. Write down the query to fetch EmployeeName & Project who has assign more than one project.

59. Write down the query to fetch ProjectName on which more than one employee are working along with EmployeeName.

60. What would be the output of the following query(INNER JOIN)

SELECT T1.ID, T2.ID FROM TBL_1 T1 INNER JOIN TBL_2 T2 ON T1.ID = T2.ID