# MySQL 800 Questions

This is based on "800+ SQL INTERVIEW QUESTIONS" by DISHA MUKHERJEE, but changed and ipdated for:
1. Only MySQL
2. MySQL version 8.4
3. Answers are rewritten because many answers in PDF doesn't run on this version of MySQL.

### employeedetail TABLE
|EmloyeeID|FirstName|LastName|Salary|JoiningDate|Department|Gender|
|---|---|---|---|---|---|---|
|1|Vikas|Ahlavat|600000.00|2013-01-15 11:16:28|IT|Male|
|2|nikita|Jain|530000.00|2014-01-09 17:31:07|HR|Female|
|3|Ashish|Kumar|1000000.00|2014-01-09 10:05:07|IT|Male|
|4|Nikhil|Sharma|480000.00|2014-01-09 09:00:07|HR|Male|
|5|anish|kadian|500000.00|2014-01-09 09:31:07|Payroll|Male|

### QUESTIONS

1. Write a query to get all employee detail from "EmployeeDetail" table