# MySQL 800 Questions
## PART 3

### TBL_1 TABLE
|ID|
|---|
|1|
|1|

### TBL_2 TABLE
|ID|
|---|
|1|
|1|
|1|

### Table_1 TABLE
|ID|Name|
|---|---|
|1|Vikas Ahlawat|
|2|Sachin Aggarwal|
|3|Manoj Kumar|

### Table_2 TABLE
|ID|Name|
|---|---|
|1|Vikas Ahlawat|
|4|Sanjay Kumar|
|5|Sachin Aggarwal|
|3|Sandeep Kumar|

### QUESTIONS

60. What would be the output of the following query(INNER JOIN)

SELECT T1.ID, T2.ID FROM TBL_1 T1 INNER JOIN TBL_2 T2 ON T1.ID = T2.ID

|ID|ID|
|---|---|
|1|1|
|1|1|
|1|1|
|1|1|
|1|1|
|1|1|

61. What would the output of the following query(LEFT OUTER JOIN)

SELECT T1.ID, T2.ID FROM TBL_1 T1 LEFT OUTER JOIN TBL_2 T2 ON T1.ID = T2.ID

|ID|ID|
|---|---|
|1|1|
|1|1|
|1|1|
|1|1|
|1|1|
|1|1|

62. What would the output of the following query(RIGHT OUTER JOIN)
 
SELECT T1.ID, T2.ID FROM TBL_1 T1 RIGHT OUTER JOIN TBL_2 T2 ON T1.ID = T2.ID

|ID|ID|
|---|---|
|1|1|
|1|1|
|1|1|
|1|1|
|1|1|
|1|1|

63. What would be the output of the following query(CROSS JOIN)

SELECT T1.ID, T2.ID FROM TBL_1 T1 CROSS JOIN TBL_2 T2

|ID|ID|
|---|---|
|1|1|
|1|1|
|1|1|
|1|1|
|1|1|
|1|1|

66. What would be the output of the following query.(Related Tables : Table_1,Table_2)

SELECT A.ID ,A.Name, B.ID ,B.Name 
FROM Table_1 AS A INNER JOIN Table_2 AS B 
ON A.ID = B.ID

67. What would be the output of the following query.(Related Tables : Table_1,Table_2)

SELECT A.[ID] ,A.[Name],B.[ID] ,B.[Name] FROM [Table_1] A INNER JOIN [Table_2] B 
ON A.ID = B.ID AND A.[Name] = B.[Name]

68. What would be the output of the following query.(Related Tables : Table_1,Table_2) 
--(INNER JOIN WITH AND)

SELECT A.[ID] ,A.[Name],B.[ID] ,B.[Name] FROM [Table_1] A INNER JOIN [Table_2] B 
ON A.ID = B.ID AND A.[Name] = B.[Name]

69. What would be the output of the following query.(Related Tables : Table_1,Table_2) 
--(INNER JOIN WITH OR)

SELECT A.[ID], A.[Name],B.[ID], B.[Name] FROM [Table_1] A INNER JOIN [Table_2] B 
ON A.ID = B.ID OR A.[Name] = B.[Name]

70. What would be the output of the following query.(Related Tables : Table_1,Table_2)--(INNER JOIN WITH NOT EQUAL !=)

SELECT A.[ID], A.[Name],B.[ID], B.[Name] FROM [Table_1] A INNER JOIN [Table_2] B 
ON A.ID != B.ID

71. What would be the output of the following query.(Related Tables : Table_1,Table_2)--(INNER JOIN WITH NOT)

SELECT A.[ID] ,A.[Name],B.[ID] ,B.[Name] FROM [Table_1] A INNER JOIN [Table_2] B ON NOT(A.ID = B.ID)

72. What would be the output of the following query.(Related Tables : Table_1,Table_2)--(INNER JOIN WITH IN)

SELECT A.[ID], A.[Name],B.[ID], B.[Name] FROM [Table_1] A INNER JOIN [Table_2] B ON A.ID IN(1)

73. What would be the output of the following query.(Related Tables : Table_1,Table_2)--(INNER JOIN WITH NOT)

SELECT A.[ID] ,A.[Name],B.[ID] ,B.[Name] FROM [Table_1] A INNER JOIN [Table_2] B ON NOT(A.ID = B.ID)

74. What would be the output of the following query.(Related Tables : Table_1,Table_2)--(LEFT OUTER JOIN)

SELECT A.[ID] ,A.[Name],B.[ID] ,B.[Name] FROM [Table_1] A LEFT OUTER JOIN [Table_2] B ON A.ID = B.ID

75. Write down the query to fatch record from Table_1 which not exist in Table_2(based on ID column)

76. What would be the output of the following query.(Related Tables : Table_1,Table_2)--(LEFT OUTER JOIN WITH !=)

SELECT A.[ID] ,A.[Name],B.[ID] ,B.[Name] FROM [Table_1] A LEFT OUTER JOIN [Table_2] B ON A.ID != B.ID

77. Write down the query to fatch record from Table_2 which not exist in Table_1(based on ID column)

78. Write down the query to create employee table with Identity column([EmployeeID])

79. Write down the query to create employee table with Identity column([EmployeeID])

80. Write down the query to create employee table with primary key (EmployeeID)

81. How to set Primary key using Alter command

82. How to set primary key and foreignkey relationship using query(set EmployeeID column of ProjectDetail table as a foreignkey)